@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Mona Sans";
    font-weight: 200;
    src: url(/bitacora/fonts/Mona-Sans-UltraLightWide.woff2) format("woff2");
}
@font-face {
    font-family: "Mona Sans";
    font-weight: 400;
    src: url(/bitacora/fonts/Mona-Sans-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "Mona Sans";
    font-weight: 700;
    src: url(/bitacora/fonts/Mona-Sans-Bold.woff2) format("woff2");
}
@font-face {
    font-family: "Mona Sans";
    font-weight: 900;
    src: url(/bitacora/fonts/Mona-Sans-BlackWide.woff2) format("woff2");
}


body {
    font-family: "Mona Sans", sans-serif;
}

article.prose {
    font-family: "Source Sans Pro","Microsoft Yahei",sans-serif;
}