---
import PageLayout from '../../layouts/page.astro';
import BlogPostPreview from "../../components/blog/Preview.astro";
import { latestPosts } from "../../utils/content";

const pageTitle = "Prototipo";

const posts = await latestPosts("prototipo");

---
<PageLayout title={pageTitle}>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 xl:grid-cols-2">    
        {posts.filter(a => a.visible).map(post => 
            <BlogPostPreview post={post} url={`/bitacora/prototipo/${post.id}`} />
        )}
    </div>
</PageLayout>