---
import BlogLayout from '../../layouts/blog.astro';
import BlogPostPreview from "../../components/blog/Preview.astro";
import { latestPosts } from "../../utils/content";
import { blog } from '../../data/prototipo-blog.ts';

const posts = await latestPosts("prototipo");

---
<BlogLayout
    index={true}
    blog={blog}
>
    <div class="grid grid-cols-1 gap-8 ">    
        {posts.map(post => 
            <BlogPostPreview post={post} url={`/bitacora/perspectiva/${post.id}`} />
        )}
    </div>
</BlogLayout>