---
import PageLayout from '../../layouts/page.astro';
import BlogPostPreview from "../../components/blog/Preview.astro";
import { latestPosts } from "../../utils/content";

const pageTitle = "Perspectiva";

const posts = await latestPosts("perspectiva");

---
<PageLayout title={pageTitle}>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-1 xl:grid-cols-2">    
        {posts.map(post => 
            <BlogPostPreview post={post} url={`/bitacora/perspectiva/${post.id}`} />
        )}
    </div>
</PageLayout>